.content {
	width: 620px;
	height: 400px;
	text-align: center;
}

.image {
	width: 480px;
	height: 240px;
	margin-bottom: 20px;
}

.name {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 24px;
}

.nutrients {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	color: #8585ad;
}

.nutrient {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.value {
	margin-top: 8px;
	color: white;
	font-weight: 400;
	font-size: 20px;
}
